{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock %}


{% block content %}

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
    </header>

    <ul class="toc">
	{% for h1 in page.toc %}
	    <li>
	        <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
	    </li>
	{% endfor %}
	</ul>

    <div class="content">
        {{ page.content | safe }}
    </div>

    {{ page_macros::page_info(page=page) }}
</article>

<script>
window.onscroll = function() {
    if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight) {
        var count = 200;
        var defaults = {
          origin: { y: 0.7 }
        };

        function fire(particleRatio, opts) {
          confetti(Object.assign({}, defaults, opts, {
            particleCount: Math.floor(count * particleRatio)
          }));
        }

        fire(0.25, {
          spread: 26,
          startVelocity: 55,
        });
        fire(0.2, {
          spread: 60,
        });
        fire(0.35, {
          spread: 100,
          decay: 0.91,
          scalar: 0.8
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 25,
          decay: 0.92,
          scalar: 1.2
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 45,
        });
    }
}
</script>

{% endblock content %}

